# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
- List popular languages for Data Science  
- Identify commonly used Data Science tools  
- Create and format tables using markdown  
- Write and execute arithmetic expressions in Python  
- Understand the ecosystem of Data Science

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. Matplotlib

#### Data Science Tools:
##### Jupyter Notebook
##### Apache Hadoop
##### RStudio

### Below are a few examples of evaluating arithmetic expressions in Python:

 This a simple arithmetic expression to mutiply then add integers

In [6]:
expression= (3*4)+5
print(expression)

17

This will convert 200 minutes to hours by diving by 60

In [8]:
result= (200/60)
print(result)

3.3333333333333335

## Author: 
Taha Muhammad